.home {
  background-color: #8f9779;
  height: 640px;
  width: 100%;

  .body {
    font-size: 100px;
    width: 500px;
    position: absolute;
    margin-top: 170px;
    margin-left: 80px;
    text-align: center;
    color: #eae1dd;
  }

  .a1 {
    text-decoration: none;
    color: #8f9779;
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color: #eae1dd;
    float: left;
    text-align: center;
    padding-top: 5px;
    margin-top: 430px;
    margin-left: 240px;
  }
  .honey1 {
    height: 650px;
    width: 700px;
    margin-left: 275px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../assets/honey.jpg);
  }
}
.bodo {
  width: 100%;
  height: 750px;

  .bodoWord {
    font-size: 100px;
    width: 500px;
    position: absolute;
    margin-top: 140px;
    margin-left: 850px;
    text-align: center;
    color: #eae1dd;
  }

  .vords {
    text-decoration: none;
    color: #eae1dd;
    height: 50px;
    width: 400px;
    font-size: 35px;
    float: left;
    text-align: center;
    padding-top: 5px;
    margin-top: 380px;
    margin-left: 910px;
  }
  .aloe1 {
    height: 650px;
    width: 700px;
    margin-top: 10px;
    margin-left: 15px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../assets/aloe.jpg);
  }
}
