.journal {
  background-color: #8f9779;
  height: 640px;
  width: 100%;

  .date {
    margin-left: 850px;
    padding-top: 130px;
    font-size: 20px;
    color: #eae1dd;
  }

  .title {
    font-size: 60px;
    width: 550px;
    position: absolute;
    margin-left: 790px;
    text-align: center;
    color: #eae1dd;
    position: absolute;
  }

  .words {
    text-decoration: none;
    color: black;
    height: 50px;
    width: 500px;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    margin-top: 170px;
    margin-left: 810px;
    color: #eae1dd;
    position: absolute;
  }
  .salt1 {
    background-image: url(../assets/salt.jpg);
    height: 650px;
    width: 700px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
}
.journal2 {
  background-color: #8f9779;
  height: 640px;
  width: 100%;

  .date2 {
    margin-left: 60px;
    padding-top: 80px;
    font-size: 20px;
    color: #eae1dd;
    position: absolute;
  }

  .title2 {
    font-size: 60px;
    width: 550px;
    position: absolute;
    margin-left: 50px;
    text-align: center;
    color: #eae1dd;
    position: absolute;
    margin-top: 120px;
  }

  .words2 {
    text-decoration: none;
    color: black;
    height: 50px;
    width: 500px;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    margin-top: 370px;
    margin-left: 80px;
    color: #eae1dd;
    float: left;
    position: absolute;
  }
  .pile1 {
    background-image: url(../assets/pile.jpg);
    height: 600px;
    width: 600px;
    margin-left: 750px;
    padding-bottom: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 300px;
  }
}
