.signIn {
  height: 510px;
  display: flex;
  flex-direction: column;
  color: #eae1dd;

  label,
  input {
    display: block;
  }

  label {
    margin-bottom: 10px;
  }

  input {
    width: 40%;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #eae1dd;
    border-color: #eae1dd;
    color: #8f9779;
  }

  .submit {
    background-color: #eae1dd;
    width: 20%;
    color: #8f9779;
    margin-left: 140px;
  }
  .flower1 {
    height: 500px;
    margin-left: 675px;
    position: absolute;
    padding-bottom: 50px;
  }
}
